          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <%= f.password_field :password, class:"form-control" %>
          </div>
          <div class="form-group">
            <label for="password-confirmation" class="control-label">Password Confirmation</label>
            <%= f.password_field :password_confirmation, class:"form-control" %>
          </div>
