<div class="my-container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-8">
        <h1>Welcome to TamaGAtchi!</h1>
         <p>You can has cheezburger</p>
      </div>
      <div class="col-xs-4">
        <div id="myCarousel" class="carousel slide text-center carousel-border" data-ride="carousel">
            <!-- Indicators -->
          <ol class="carousel-indicators my-carousel">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
            <%= image_tag("tamagatchi-cat01.png", class:"main-carousel") %>
            </div>

            <div class="item">
            <%= image_tag("tamagatchi-cat02.png", class:"main-carousel") %>
            </div>

            <div class="item">
            <%= image_tag("tamagatchi-cat03.png", class:"main-carousel") %>
            </div>

            <div class="item">
            <%= image_tag("tamagatchi-cat04.png", class:"main-carousel") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


