body {
  padding:10px;
  }

#tamagatchi {
  max-height:200px;
  margin:0 auto;
}

.notice {
  color:#ff0000;
}

.my-alert {
  color:#ff0000;
  display:inline-block;
}

.post-right-col {
  font-size:0.8em;
}

.right-align {
  float:right;
}

.inline-block {
  display:inline-block;
}

.shadow {
  text-shadow: 5px 5px 5px #a0a0a0;
  width:30%;
}

.main-img {
  width:200px;
}

.main-carousel {
  height:250px;
  margin:10px auto;
  border-radius:20px;
}

.jumbotron {
  margin:0 auto;
  position: relative;
  background: #000 url("tamagatchi-040.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  background-color:#E0E99D;
  color:#000000;
  padding:25px;
  border-radius:20px;
  font-family: "Kaushan Script", Arial, sans-serif;
  font-size:1.2em;
}

.tamagatchi {
  font-family: "Kaushan Script", Arial, sans-serif;
  font-size:1.2em;
}

.carousel-border {
  border:1px solid #000000;
  border-radius:10px
}

.no-decoration {
  color:#ffffff;
  text-decoration: none;
}

#mid {
  display:none;
}

.btn-round{
  border-radius:50px;
}

.rounded {
  border-radius:10px;
}

.delete-glyph {
  color:#ff0000;
  font-size:2em;
}

.star-glyph {
  color:#00cf00;
}

.centered {
  margin:0 5px;
}

.modal-background {
 background-color:#e0e0c0;
}

.button-shadow {
  box-shadow: 6px 6px 5px #888888;
}

.my-modal-header-md {
 background-color:#7C7F10;
 color:#000000;
 border-radius:5px 5px 0 0;
}

.my-modal-header-sm {
 background-color:#3175B0;
 color:#ffffff;
 border-radius:5px 5px 0 0;
}

.tamagatchi-panel {
  background-color:#6F9393;
  border-radius: 0 0 5px 5px;
}

.message-panel {
  background-color:#B4D1EA;
  border-radius: 0 0 5px 5px;
}






.navbar-custom {
  background-color: #69673e;
  border-color: #545332;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#898651), to(#69673e));
  background-image: -webkit-linear-gradient(top, #898651, 0%, #69673e, 100%);
  background-image: -moz-linear-gradient(top, #898651 0%, #69673e 100%);
  background-image: linear-gradient(to bottom, #898651 0%, #69673e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898651', endColorstr='#ff69673e', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #545332;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #545332;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #0d0101;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #0d0101;
  background-color: #545332;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#545332), to(#747245));
  background-image: -webkit-linear-gradient(top, #545332, 0%, #747245, 100%);
  background-image: -moz-linear-gradient(top, #545332 0%, #747245 100%);
  background-image: linear-gradient(to bottom, #545332 0%, #747245 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff545332', endColorstr='#ff747245', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #535131;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #0d0101;
  border-bottom-color: #0d0101;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #545332;
  color: #0d0101;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #0d0101;
  border-bottom-color: #0d0101;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0d0101;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0d0101;
    background-color: #545332;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #0d0101;
}

